<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  {% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>个人中心</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<script src="{% static 'js/jQuery1.8.2.js' %}" type="text/javascript"></script>
<!--[if IE]><script src="{% static 'js/html5.js' %}" type="text/javascript"></script><![endif]-->
</head>
<body>
<!--头部开始-->
<header data-waypointsok="" class="header mysection">
  <div class="tem_inner tem_head mynav mysection_s">
    <h1> <a class="logo_img" href="" title=""> <img src="{% static 'images/logo1.jpg' %}" alt="" title="" /> </a> </h1>
    <nav>
      <ul>
         <li><a href="/myapp/" title="网站首页">网站首页</a></li>
        <li><a href="/myapp/self_center/" title="个人中心">个人中心</a></li>
		<li><a href="/myapp/plan_init/" title="规划行程">规划行程</a></li>
        <li><a href="/myapp/comment/" title="评论中心">评论中心</a></li>
        <li><a href="/myapp/diary/" title="日记生成">日记生成</a></li>
        <li><a href="/myapp/question/" title="在线问答">在线问答</a></li>
        <li><a href="/myapp/login/" title="注销">注销|切换账号</a></li>
      </ul>
    </nav>
  </div>
</header>
<!--头部结束-->

<div class="tem_banner">
  <ul class="slides" style="height:380px;">
    <li style="background:url({% static 'images/selfcenter.jpg' %}) no-repeat center center; height:380px;"></li>
  </ul>
</div>
<section class="met_section  ">
  <aside class="margin">
    <section class="met_aside">
      <h2>我的信息</h2></br>
      <div class="met_aside_list">
        <dl class="list-none navnow">
          <dt><a title="账号信息" class="zm"><span>账号信息</span></a></dt>
        </dl>
        <dl class="list-none navnow">
          <dt><a title="联系方式" class="zm"><span>联系方式</span></a></dt>
        </dl>
        <dl class="list-none navnow">
          <dt><a  title="美食偏好" class="zm"><span>美食偏好</span></a></dt>
        </dl>
        <dl class="list-none navnow">
          <dt><a   title="游玩偏好" class="zm"><span>游玩偏好</span></a></dt>
          </dl>
        <dl class="list-none navnow">
          <dt><a   title="娱乐偏好" class="zm"><span>娱乐偏好</span></a></dt>
        </dl>
        <div class="met_clear"></div>
      </div>
    </section>
  </aside>
  <article>
    <div class="met_article">
      <section class="met_article_head">
        <h1>个人中心</h1>
        <div class="met_position"> <a href="index.html" title="首页">网站首页</a> &gt; <a href="selfcenter.html">个人中心</a> </div>
      </section>
      <div class="met_clear"></div>
      <div class="met_editor met_module1">
        <div>

          <label for="textfield">用户名 :</label>&nbsp&nbsp&nbsp&nbsp&nbsp
          {{ user.name}}
            <br></br>
          <label for="number2">手机号 :</label>
          {{ user.mobile}}
            <br></br>
          <label for="email">邮 &nbsp; &nbsp;箱:</label>
          {{ user.email}}
            <br></br>
         <label for="email">邮 &nbsp; &nbsp;箱:</label>
          {{ user.email}}
            <br></br>
         <label for="ko">体 力 值:</label>
           {%  if user.strength == 5 %}
        可以ko邹市明
        {%  endif %}
        {%  if user.strength == 4 %}
        扛20斤大米爬楼啊
        {%  endif %}
        {%  if user.strength == 3 %}
        还可以，多走走没问题
        {%  endif %}
        {%  if user.strength == 2 %}
        喜静不喜动
        {%  endif %}
        {%  if user.strength == 1 %}
        一动不动才使生命可以延续
        {%  endif %}
            <br></br>
        <label for="mon">哦？钱是个啥:</label>
           {%  if user.money == 5 %}
        我喜欢出门大把撒钱，钱都是毛毛雨
        {%  endif %}
        {%  if user.money == 4 %}
        我就是中产小资阶级的代表
        {%  endif %}
        {%  if user.money == 3 %}
        小康小康，社会主义奔小康
        {%  endif %}
        {%  if user.money == 2 %}
        有些微的囊中羞涩
        {%  endif %}
        {%  if user.money == 1 %}
        走，我们出去卖肾
        {%  endif %}
            <br></br>
           {% for choice in user.choice_set.all %}

         <label for="select1">对{{ choice.choice_about }}</label>
                 {%  if choice.choice_no == 5 %}
        很喜欢！_!
        {%  endif %}
        {%  if choice.choice_no == 4 %}
       喜欢吧^_^
        {%  endif %}
        {%  if choice.choice_no == 3 %}
        一般般~
        {%  endif %}
        {%  if choice.choice_no == 2 %}
        差强人意#_#
        {%  endif %}
        {%  if choice.choice_no == 1 %}
        讨厌?^?
        {%  endif %}&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp

            {% endfor %}

          <div class="met_pager">  <a href="/myapp/change_self/">修改信息</a>
</div>
        <div class="clear"></div>
      </div>
    </div>
  </article>
  <div class="met_clear"></div>
</section>
<div class="met_clear"></div>

<!--底部开始-->
<div class="met_clear"></div>
<footer class="tem_footer">
  <div class="my_inner">
    <div class="tem_footer_1 lf">
      <h1>联系我们</h1>
      <ul>
        <li>地址: 辽宁省大连市甘井子区凌海路1号</li>
        <li>单位:&nbsp大连海事大学 信息科学技术学院 </li>
        <li style="padding-right:72px;">电话:（0411）84727233 </li>
        <li>Email: To_live_diliberately@dlmu.edu.cn</li>
      </ul>
    </div>

    <div class="tem_footer_2 lf">
      <div class="tem_footer_link">
<div class="tem_footer_3">

      <ul>

           <li></li>
        </ul>

  </div>
 </div>
</div>


    <div class="met_clear"></div>
</div>
</footer>
<!--底部结束-->
</body>
</html>
